.about-title{
  text-align: center;
  padding:40px 0px 40px 0px;
  font-size: 3rem;
}
.about-img{
  background-image: url("img/about-img/about-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.about-header{
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 3rem;
}
.about-content{
  margin: 0 auto;
  width: 80%;
  padding-top:30px;
  font-size: 2rem;
}
