.about-title{
  text-align: center;
  padding:40px 0px 40px 0px;
}
.about-img{
  background-image: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.about-header{
  text-align: center;
  margin: 0 auto;

}
.about-content{
 text-align: center;
 margin: 0 auto;
 width: 80%
}
.container-fluid{
  margin-top: -112px;
  padding-top: 112px;
}
