.gallery-img{
  background-image: url("img/gallery-img/gallery-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.wrapper-gallery{
  margin-top: -112px;
  padding-top: 112px;
}
.img-gallery img{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.img-gallery{
  padding-top: 1.5rem;
}
@media (max-width:576px){
  .img-gallery img{
    height: 35vw;
    margin-top: 1rem;
  }
  .img-gallery{
    padding-top: 0rem !important;
  }
}
