
.gallery-title{
  text-align: center;
  padding:40px 0px 40px 0px;
  font-size: 80px;
}
.gallery-img{
  background-image: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.wrapper-gallery{
  margin-top: -112px;
  padding-top: 112px;
}
