.title{
  text-align:center;
  font-size: 5rem;
  font-family: 'Poiret One', cursive;
}
.header li{
  display:inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
}
.header li a{
  color: black;
  text-decoration: none;
}

hr{
  margin-bottom: 30px;
}
.header-img{
  margin: 0 auto;
  display:block;
  padding-top: 113px;
}

.container-title{
  text-align: center;
  font-size: 5em;
}

body{
  font-family: "Rounded Mplus 1c" !important;
  font-weight: 300 !important;
}
.navbar{
  background-color: beige;
}

@media screen and (min-width: 991px){
  .navbar{
    display: block !important;
  }
}
.header ul{
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 991px){
  .nav-button{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .title{
    font-size: 3rem;
  }
}

.header-img{
  background-image: url('img/header-img/header.jpg');
  height: 60vw;
  width: 90%;
  background-size: cover;
  background-position: center;
  padding-top: 0px;
}

.header-title{
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  font-size: 4rem;
  line-height: 60vw;
}

@media screen and (min-width: 991px){
  .header-title{
    line-height: 45vw;
    font-size: 7rem;
  }
  .header-img{
    height: 45vw;
  }
}
