.title{
  text-align:center;
  font-size: 5rem;
}
.header li{
  display:inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
}
.header li a{
  color: black;
  text-decoration: none;
}

hr{
  margin-bottom: 30px;
}
.header-img{
  margin: 0 auto;
  display:block;
  padding-top: 113px;
}

.container-title{
  text-align: center;
  font-size: 5em;
}

body{
  font-family: "Rounded Mplus 1c" !important;
  font-weight: 300 !important;
}
.navbar{
  background-color: beige;
}

@media (min-width: 991px){
  .navbar{
    display: block !important;
  }
}
.header ul{
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 991px){
  .nav-button{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .title{
    font-size: 3rem;
  }
}
