.lesson-img{
  background-image: url("img/lesson-img/lesson-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.one-lesson-img{
  background-size: cover;
  background-position: center;
  height: 30vw;
  width: 30vw;
  margin:0 auto;
  margin-top:30px;
}
.lesson-content{
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 576px){
  .one-lesson-img{
    height: 60vw;
    width: 60vw;;
  }
}
