.lesson-img{
  background-image: url("img/lesson-img/lesson-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.one-lesson-img{
  background-size: cover;
  background-position: center;
  height: 45vw;
  width: 100%;
  margin: 0 auto;
}
.lesson-content{
  text-align: center;
  font-size: 2rem;
}
@media screen and screen and (min-width: 576px){
  .one-lesson-img{
    height: 30vw;
  }
}
@media screen and (min-width: 991px){
  .one-lesson-img{
    height: 15vw;
  }
}

.lesson-wrapper{
  width: 80%;
  margin: 0 auto;
}
