

body{
  margin: 0;
}
.title{
  font-size:30px;
}

.header{
  font-size: 20px;
}
.about{
  text-align: center;
  font-size: 70px;
  margin: 0;
  padding: 84px 0px 84px 0px;

}
.side-img{
  width:20%;
  display: inline-block;
  overflow: hidden;
}
.content{
  width:60%;
  display: inline-block;
  overflow: hidden;
}
#wrapper{
  position: fixed;
    width: 100%;
    background: beige;
    top: 0;
}
.header-img{
  padding-top: 191px;
}
