
.profile-img{
  background-image: url("img/profile-img/profile-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.profile-table{
  margin: 0 auto;
  width: 80%;
  font-size: 3rem;
}
.profile-table tr{
  height:40px;
}
.profile-selfimg{
  width:300px;
  height:300px;
  margin: 0 auto;
  display: block;
}
.content{
  margin: 0 auto;
  width:80%;
  font-size: 2rem;
}
