.profile-img{
  background-image: url("img/profile-img/profile-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.profile-table{
  margin: 0 auto;
  width: 40%;
  font-size: 3rem;
}
.profile-table tr{
  height:40px;
}
.profile-selfimg{
  width:250px;
  height:250px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}
.content{
  margin: 0 auto;
  width:80%;
  font-size: 2rem;
}

@media screen and (max-width: 800px){
  .profile-table{
    font-size: 1.7rem;
  }
}
.profile-title{
  text-align: center;
  padding:40px 0px 40px 0px;
  font-size: 80px;
}
