
.voice-title{
  text-align: center;
  padding:40px 0px 40px 0px;
  font-size: 80px;
}
.voice-img{
  background-image: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.wrapper-voice{
  margin-top: -112px;
  padding-top: 112px;
}
.header-content{
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
