.voice-img{
  background-image: url("img/voice-img/voice-header.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.header-content{
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
